repos:
  - repo: local
    hooks:
      - id: hclfmt
        name: hclfmt
        language: golang
        entry: hclfmt -w -require-no-change
        additional_dependencies:
          - github.com/hashicorp/hcl/v2/cmd/hclfmt@latest
        files: '^(.*\.hcl)$'

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt
        name: Terraform fmt
        description: Rewrites all Terraform configuration files to a canonical format.
        entry: hooks/terraform_fmt.sh
        language: script
        files: (\.tf|\.tfvars)$
        exclude: \.terraform/.*$
      - id: terraform_docs
        name: Terraform docs
        description: Inserts input and output documentation into README.md (using terraform-docs).
        require_serial: true
        entry: hooks/terraform_docs.sh
        language: script
        files: (\.tf|\.terraform\.lock\.hcl)$
        exclude: \.terraform/.*$
        args:
          - --args=--indent 3
      - id: terraform_tflint
        name: Terraform validate with tflint
        description: Validates all Terraform configuration files with TFLint.
        require_serial: true
        entry: hooks/terraform_tflint.sh
        language: script
        files: (\.tf|\.tfvars)$
        exclude: \.terraform/.*$
        args:
          - --args=--call-module-type=all
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl

